@{
    ViewBag.Title = "Clubs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-content">

                    <div id="block_d9f8b6585ca73e5c87f5b7846fbb4db2" data-blockID="all-clubs" class="ipsExternalWidget" data-inheritStyle="true"></div>

                </div>
            </div>

        </div>

    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="https://www.xtremeidiots.com/applications/cms/interface/external/external.js" id="ipsWidgetLoader"></script>
}