@{
    ViewBag.Title = "Global Chat Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="jqGrid_wrapper">
        <table id="chatLog"></table>
        <div id="chatLogPager"></div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")

    <script type="text/javascript">
        $(document).ready(function() {

            function formatPlayerUrl(cellValue, options, rowObject) {
                return "<a href='/Players/Details/" + rowObject.PlayerId + "'>" + cellValue + "</a>";
            }

            function formatChatLogUrl(cellValue, options, rowObject) {
                return "<a href='/Servers/ChatLogPermaLink/" + rowObject.ChatLogId + "'>PermLink</a>";
            }

            jQuery("#chatLog").jqGrid({
                url: '/Servers/GetGlobalChatLogAjax',
                datatype: 'json',
                mType: 'GET',
                colNames: ['Player Id', 'Timestamp', 'Username', 'Type', 'Message', 'ChatLog Id'],
                colModel: [
                    {
                        name: 'PlayerId',
                        index: 'PlayerId',
                        hidden: true,
                        editable: false,
                        sortable: false,
                        search: false
                    },
                    {
                        name: 'Timestamp',
                        index: 'Timestamp',
                        editable: false,
                        width: 20,
                        sortable: false,
                        search: false
                    },
                    {
                        name: 'Username',
                        index: 'Username',
                        editable: false,
                        width: 20,
                        sortable: false,
                        search: true,
                        searchoptions: { sopt: ["eq", "cn"] },
                        formatter: formatPlayerUrl
                    },
                    { name: 'Type', index: 'Type', editable: false, width: 10, sortable: false, search: false },
                    {
                        name: 'Message',
                        index: 'Message',
                        editable: false,
                        sortable: false,
                        search: true,
                        searchoptions: { sopt: ["cn"] }
                    },
                    {
                        name: 'ChatLogId',
                        index: 'ChatLogId',
                        hidden: false,
                        editable: false,
                        width: 10,
                        sortable: false,
                        search: false,
                        formatter: formatChatLogUrl
                    }
                ],
                pager: '#chatLogPager',
                rowNum: 20,
                height: 700,
                autowidth: true,
                caption: 'Global Chat Logs',
                guiStyle: "bootstrap4",
                icons: "fontAwesome",
                hidegrid: false
            }).navGrid('#chatLogPager',
                {
                    edit: false,
                    add: false,
                    del: false,
                    search: true,
                    refresh: true,

                    searchtext: "Search",
                    refreshtext: "Refresh"
                });

        });
    </script>
}