@model Dictionary<string, string>

@{
    ViewBag.Title = "Ban File Monitor Check Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-content">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.Label("Title")
                            </th>
                            <th>
                                @Html.Label("Result")
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>

        </div>
    </div>

</div>