<div class="footer">
    <div class="pull-right">
        Fraser "Sitting-Duc" Molyneux
    </div>
    <div>
        <strong>Copyright</strong> XtremeIdiots &copy; @DateTime.Now.Year
    </div>
</div>