@model XI.Portal.Web.ViewModels.AdmServers.RconStatusResultViewModel

@{
    ViewBag.Title = $"Rcon Status - {Model.GameServer.Title}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Rcon Status Result - @Model.GameServer.Title</h5>
                </div>

                <div class="ibox-content">

                    @Html.DisplayFor(model => model.Result)

                </div>
            </div>
        </div>
    </div>
</div>