@{
    ViewBag.Title = "Teamspeak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Teamspeak</h5>
                </div>

                <div class="ibox-content">

                    <div>
                        <a href="ts3server://ts.xtremeidiots.com?port=9182&amp;password=crappy">
                            <strong>
                                <span>Join &gt;XI&lt; TeamSpeak!</span>
                            </strong>
                        </a>
                    </div>

                    <hr/>

                    <div id="ts3viewer_1036563" style="height: 700px; width: 100%;"></div>
                    <script type="text/javascript" src="https://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>

                    <script type="text/javascript">

                        <!--
                        var ts3v_url_1 =
                            "https://www.tsviewer.com/ts3viewer.php?ID=1036563&text=919baf&text_size=12&text_family=1&text_s_color=919baf&text_s_weight=bold&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_i_color=&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_c_color=919baf&text_c_weight=bold&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_u_color=919baf&text_u_weight=normal&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_s_color_h=&text_s_weight_h=bold&text_s_style_h=normal&text_s_variant_h=normal&text_s_decoration_h=none&text_i_color_h=919baf&text_i_weight_h=bold&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=none&text_c_color_h=&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=none&text_u_color_h=&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none&iconset=default_mono_2014";
                        ts3v_display.init(ts3v_url_1, 1036563, 100);
                        -->

                    </script>

                </div>
            </div>

        </div>

    </div>

</div>