@using XI.Portal.Web.Extensions
@model XI.Portal.Data.CommonTypes.GameType

@{
    ViewBag.Title = "Player List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="input-group">
                    <input type="text" id="search-string" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" id="search-button" class="btn btn-primary">
                            Search
                        </button>
                        <button type="button" id="clear-button" class="btn btn-primary">
                            Clear
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div class="jqGrid_wrapper">
                <table id="playerList"></table>
                <div id="playerListPager"></div>
            </div>

        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/content/free-jqgrid")
}

@section Scripts {
    @Scripts.Render("~/bundles/free-jqgrid")

    <script type="text/javascript">

        $(document).ready(function() {

            function formatPlayerUrl(cellValue, options, rowObject) {
                return "<a href='/Players/Details/" + rowObject.PlayerId + "'>" + cellValue + "</a>";
            }

            jQuery("#playerList").jqGrid({
                url: '/Players/GetPlayersAjax/@Model',
                datatype: 'json',
                mType: 'GET',
                colNames: ['Game', 'Player Id', 'Username', 'Guid', 'IP Address',  'First Seen', 'Last Seen'],
                colModel: [
                    {
                        name: 'GameType',
                        index: 'GameType',
                        hidden: true
                    },
                    {
                        name: 'PlayerId',
                        index: 'PlayerId',
                        hidden: true
                    },
                    {
                        name: 'Username',
                        index: 'Username',
                        formatter: formatPlayerUrl
                    },
                    {
                        name: 'Guid',
                        index: 'Guid'
                    },
                    {
                        name: 'Address',
                        index: 'Address',
                        hidden: true
                    },
                    {
                        name: 'FirstSeen',
                        index: 'FirstSeen'
                    },
                    {
                        name: 'LastSeen',
                        index: 'LastSeen'
                    }
                ],
                pager: '#playerListPager',
                rowNum: 20,
                height: 700,
                autowidth: true,
                caption: '@Model.DisplayName() - Player List',
                //guiStyle: "bootstrap4",
                icons: "fontAwesome",
                hidegrid: false
            }).navGrid('#playerListPager',
                {
                    edit: false,
                    add: false,
                    del: false,
                    search: false,
                    refresh: false
                });

            function submitSearch() {
                searchString = $.trim($("#search-string").val());

                if(searchString == ""){
                    alert("Please enter something before searching!");
                    $("#search-string").val("").focus();
                }
                else{
                    $("#playerList").jqGrid('setGridParam',{url:'/Players/GetPlayersAjax/@Model?_search=true&searchString='+searchString});
                    $("#playerList").jqGrid().trigger('reloadGrid');
                }
            }

            $("#search-button").button().click(submitSearch);

            $("#clear-button").button().click(function () {
                $("#search-string").val("").focus();
                $("#playerList").jqGrid('setGridParam',{url:'/Players/GetPlayersAjax/@Model'});
                $("#playerList").jqGrid().trigger('reloadGrid');
            });

            $("#search-string").on("keypress", function(event) {
                if (event.which == 13 && !event.shiftKey) {
                    event.preventDefault();
                    submitSearch();
                }
            });

        });

    </script>
}