@{
    ViewBag.Title = "IP Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">

            <div class="jqGrid_wrapper">
                <table id="playerList"></table>
                <div id="playerListPager"></div>
            </div>

        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")

    <script type="text/javascript">

        $(document).ready(function() {

            function formatPlayerUrl(cellValue, options, rowObject) {
                return "<a href='/Players/Details/" + rowObject.PlayerId + "'>" + cellValue + "</a>";
            }

            function formatGameType(cellValue, options, rowObject) {
                return "<img src='/Images/icons/" + rowObject.GameType + ".png' alt='" + cellValue + "' width='16' height='16' />";
            }

            jQuery("#playerList").jqGrid({
                url: '/Players/GetPlayersIPSearchAjax/',
                datatype: 'json',
                mType: 'GET',
                colNames: ['GameType', 'PlayerId', 'Username', 'Address'],
                colModel: [
                    {
                        name: 'GameType',
                        index: 'GameType',
                        hidden: false,
                        editable: false,
                        sortable: false,
                        search: false,
                        formatter: formatGameType,
                        width: 30
                    },
                    {
                        name: 'PlayerId',
                        index: 'PlayerId',
                        hidden: false,
                        editable: false,
                        sortable: false,
                        search: false
                    },
                    {
                        name: 'Username',
                        index: 'Username',
                        editable: false,
                        sortable: false,
                        search: false,
                        formatter: formatPlayerUrl
                    },
                    {
                        name: 'Address',
                        index: 'Address',
                        editable: false,
                        sortable: false,
                        search: true,
                        searchoptions: { sopt: ["cn"] }
                    }
                ],
                pager: '#playerListPager',
                rowNum: 20,
                height: 700,
                autowidth: true,
                caption: 'IP Search',
                guiStyle: "bootstrap4",
                icons: "fontAwesome",
                hidegrid: false
            }).navGrid('#playerListPager',
                {
                    edit: false,
                    add: false,
                    del: false,
                    search: true,
                    refresh: true,

                    searchtext: "Search",
                    refreshtext: "Refresh"
                });

        });
    </script>
}