@{
    ViewBag.Title = "Discord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-sm-6">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Clan Discord</h5>
                </div>

                <div class="ibox-content">

                    <div>
                        <a href="https://discordapp.com/invite/8Pk8Xh?utm_source=Discord%20Widget&utm_medium=Connect">
                            <strong>
                                <span>Join &gt;XI&lt; Clan Discord!</span>
                            </strong>
                        </a>
                    </div>

                    <hr/>

                    <iframe style="height: 700px; width: 100%;" src="https://discordapp.com/widget?id=102848682277228544&theme=dark" allowtransparency="true" frameborder="0"></iframe>

                </div>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Insurgency Discord</h5>
                </div>

                <div class="ibox-content">

                    <div>
                        <a href="https://discord.gg/f9w9ep">
                            <strong>
                                <span>Join &gt;XI&lt; Insurgency Discord!</span>
                            </strong>
                        </a>
                    </div>

                    <hr/>

                    <iframe style="height: 700px; width: 100%;" src="https://discordapp.com/widget?id=551111114298097667&theme=dark" allowtransparency="true" frameborder="0"></iframe>

                </div>
            </div>

        </div>

    </div>

</div>